aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
attrs==26.1.0
audioop-lts==0.2.2
boto3==1.40.20
botocore==1.40.20
discord.py==2.7.1
frozenlist==1.8.0
idna==3.18
jmespath==1.0.1
multidict==6.7.1
propcache==0.5.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
s3transfer==0.13.1
six==1.17.0
urllib3==2.5.0
yarl==1.24.2
